html,
body {
    background-color: #0061ac;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

nav {
    width: 20%;
    height: 100%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.layout_left_logo {
    display: flex;
    margin-left: 5%;
}

.img_logo {
    width: 55px;
    height: 55px;
    margin-top: 5%;
}

.layout_logo {
    font-size: 32px;
    margin-left: 3%;
    margin-top: 6%;
    font-weight: bolder;
}

.container_left_bar {
    margin-left: 6%;
    font-size: 20px;
    font-weight: bold;
}

.layout_right {
    width: 80%;
}

/* 가계부 입력 부분 */
header {
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-top: 2%;
}

.layout_header {
    background-color: #ffffff;
    border: 1px solid #b9b9b9;
    border-radius: 30px;
    overflow: hidden;
    justify-content: space-between;
}

.container_entry-date {
    font-size: 28px;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 1%;
}

.container_input {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 1% 0% 5% 3%;
}

.container_select {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15%;
    height: auto;
}

.container_type-slct {
    width: 100%;
    height: 80%;
    margin-top: 0.3em;
    display: block;
    font-size: 13px;
    text-align: center;
    color: #000000;
    border: 0.8px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container_description {
    margin-left: 0.6rem;
    margin-right: 0.5rem;
    width: 30%;
    input {
        width: 100%;
        height: 80%;
        margin-top: 0.3em;
        display: block;
        font-size: 15px;
        border: 0.8px solid #000000;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.container_money {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    width: 30%;
    height: 100%;
    input {
        width: 100%;
        height: 80%;
        margin-top: 0.3em;
        display: block;
        font-size: 15px;
        border: 0.8px solid #000000;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.container_add {
    margin-left: 0.8rem;
    margin-right: 3rem;
    width: 10%;
}

.container_add-btn {
    width: 90%;
    height: 80%;
    display: block;
    margin-top: 0.3em;
    font-size: 18px;
    color: #ffffff;
    border: 0.5px solid #0061ac;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #0061ac;
}

/* 표 부분 css */

.layout_main {
    border: 1px solid #b9b9b9;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    width: 90%;
    height: 35%;
    margin-top: 3%;
    margin-left: 5%;
}

table {
    border-spacing: 0px;
    border-radius: 30px;
}

.contianer_table {
    border-style: hidden;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

.container_table_row {
    background-color: #b9b9b9;
    border: 1px solid #b9b9b9;
    font-weight: bold;
}

.layout_date {
    width: 20%;
}

.layout_type {
    width: 20%;
}

.layout_text {
    width: 35%;
}

.layout_money {
    width: 35%;
}

.container_table_row td {
    border: 1px solid #949494;
}

.contianer_table_contents {
    border: 1px solid #b9b9b9;
    border-collapse: collapse;
    background-color: white;
}

.contianer_table_contents td {
    border: 1px solid #949494;
}

/* footer 부분 */
.layout_footer {
    background-color: white;
    width: 90%;
    height: 30%;
    border: 1px solid #b9b9b9;
    border-radius: 30px;
    display: flex;
    align-items: stretch;
    margin-top: 3%;
    margin-left: 5%;
}
.text_tit {
    font-size: 32px;
}
.container_graphwrap {
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}
.container_graph {
    position: relative;
    height: 80%;
    margin-top: 15px;
}

.container_graph .container_x-axis {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    height: 16px;
    left: -20px;
    width: calc(102% - 12px);
    text-align: center;
    z-index: 2;
    list-style-type: none;
}
.container_graph .container_x-axis > li {
    font-size: 20px;
    position: relative; 
    text-align: center;

}
.container_graph .container_bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    bottom: 16px;
    left: -20px;
    width: calc(100% - 12px);
    height: calc(100% - 16px);
    text-align: center;
    z-index: 3;

}
.container_graph .container_bar > li {
    flex-grow: 1;
    margin: 0 10px;
    list-style-type: none;
    bottom: -24px; 
}
.container_graph .container_bar > li span {
    display: inline-block;
    width: 60%;
    height: 100%;
    max-width: 80px;
    background: #41aaff;
}